@font-face {
    font-family: 'Bebas Neue', sans-serif;
    src: url("BebasNeue-Regular.ttf") format("truetype");
}

p {
    color: red;
}

h1 {
    color: black;
}

#id-example {
    color: yellow;
}

.class-esimerkki {
    color: blue;
}

a {
    color: pink;
}

li>a {
    color: darkgreen;
}

li {
    display: inline;
}
p {
    font-size: 0.5rem;
}


.container {
    width: 60%;
    margin: auto;
}

li a {
    text-decoration: none;
}

li a:hover {
    background-color: aquamarine;
}

li a:hover::before {
    content: ' #';
}

header {
    background-color: lightblue;
}

a:hover {
    color: lightsteelblue;
}

html {
    font-family: 'Bebas Neue', sans-serif;
}










